<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>916111078379-o90394u950eg383cauf7jjqlvin5pfj6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.916111078379-o90394u950eg383cauf7jjqlvin5pfj6</string>
	<key>API_KEY</key>
	<string>AIzaSyCwTZM6YN_AqN5Ihc2pR0-gii1d7UXAME4</string>
	<key>GCM_SENDER_ID</key>
	<string>916111078379</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.keunhyeong.MyNetflix</string>
	<key>PROJECT_ID</key>
	<string>mynetfilx-6e099</string>
	<key>STORAGE_BUCKET</key>
	<string>mynetfilx-6e099.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:916111078379:ios:da42133de0c512694b9fae</string>
	<key>DATABASE_URL</key>
	<string>https://mynetfilx-6e099.firebaseio.com</string>
</dict>
</plist>